<div class="container-fluid margintop">
  <form class="form form-control-sm p-1">
    <div class="row">
      <div class="col col-auto form-group">
        <label for="inputName">Trainee Full Name</label>
        <input
          class="form-control input-sm"
          id="inputName"
          name="name"
          type="text"
        />
      </div>
      <div class="col col-auto form-group">
        <label for="inputDesignation">Designation</label>
        <input
          class="form-control input-sm"
          id="inputDesignation"
          name="designation"
          type="text"
        />
      </div>
      <div class="col col-auto form-group">
        <label for="inputDepartment">Department</label>
        <input
          class="form-control input-sm"
          id="inputDepartment"
          name="department"
          type="text"
        />
      </div>
      <div class="col col-auto form-group">
        <label for="inputDOB">Date of Birth</label>
        <input
          class="form-control input-sm"
          id="inputDOB"
          name="dob"
          type="date"
        />
      </div>
      <div class="col col-auto form-group">
        <label for="inputAge">Age</label>
        <input
          class="form-control input-sm"
          id="inputAge"
          name="age"
          type="number"
          min="17"
        />
      </div>
      <div class="col col-auto form-group">
        <label for="inputDL">License #</label>
        <input
          class="form-control input-sm"
          id="inputAge"
          name="inputDL"
          type="text"
          min="17"
        />
      </div>
      <div class="col col-auto form-group">
        <label for="inputDLE">License Expire</label>
        <input
          class="form-control input-sm"
          id="inputDLE"
          name="dle"
          type="date"
        />
      </div>
    </div>
    <div class="row">
      <div class="col col-auto form-group">
        <label for="inputDLE">License Type</label>
        <select class="form-select" aria-label="Small select example">
          <option selected>Select License Type</option>
          <option value="1">LV</option>
          <option value="2">HV</option>
          <option value="3">R-HV</option>
        </select>
      </div>
      <div class="col col-auto form-group">
        <label for="inputDLE">License Expire</label>
        <input
          class="form-control input-sm"
          id="inputDLE"
          name="dle"
          type="date"
        />
      </div>
    </div>
  </form>
</div>
